.Indent {
	margin-left: 5pt;
	text-indent: -5pt;
}
.Sense__refleksivnost {
	color: #000000;
}
.Napomene {
}
.Napomene__stara_napomena {
	color: #2D506A;
}
.Lemma__ModifiedBy {
}
.Lemma__CreatedBy {
	font-style: italic;
}
tr>td:first-child {
	width: 10bpx;
	text-align: right;
	padding-right: 8px;
}
tr>td:nth-child(3) {
	padding-right: 40px;
	text-align: right;
}
tbody>tr:first-child{
   border-bottom: #000000 1px solid
}
.Dopisivanje {
}
.Dopisivanje__Autor {
	font-size: 10pt;
}
.Definicija__definicija{
   display: none
}
.References{
   display: none
}
.Definicija{
   display: none
}
.Dopisivanje__Poruka {
	font-size: 10pt;
	color: #FF0000;
}
.Sense__lemma {
	font-weight: bold;
	color: #000070;
}
.Napomena {
	font-family: sans-serif;
	color: #2D506A;
}
.Napomena__napomena {
}
.Napomena__primjer {
}
.Lemma__jez_odre {
	display: none 
}
.Lemma__genitiv {
	font-family: sans-serif;
	display: none 
}
.Lemma__definicija {
	display: none 
}
.Lemma__broj_nositelja {
	display: none 
}
.Etimologija {
	color: #000000;
	display: none 
}
.Pok_izv_imena {
	font-family: sans-serif;
}
.Blok {
	display: none 
}
.Etimologija__etimologija {
	font-family: sans-serif;
	display: none 
}
.Lemma__drugi_jezici {
	font-family: sans-serif;
	color: #001F3E;
}
.Blok__Blok_prostiranje {
	color: #070707;
}
.Lemma__definicija_2 {
}
.Blok__Blok_motivacija_širenje {
	color: #000000;
}
.Blok__Blok_o_imenu {
	color: #070707;
}
.Blagdan_imendan {
	font-family: sans-serif;
	color: #000000;
}
.Blagdan_imendan__dan {
	color: #000000;
}
.Blagdan_imendan__mjesec {
	color: #000000;
}
.Lemma__nositelj_koment {
	display: none 
}
.Lemma__nositelj_ica {
	display: none 
}
.Etimologija__vrelo {
	color: #6a6767;
	display: none 
}
.Etimologija__opaska {
	font-family: sans-serif;
	display: none 
}
.Etimologije {
	color: #000000;
	display: none 
}
.Lemma__neskl_genitiv {
	font-family: sans-serif;
	display: none 
}
.Lemma__definicija_vrelo {
}
.Blok__vrelo {
}
.Blagdan_imendan__napomena {
	color: #000000;
}
.Blok__Blok_prevodenje {
	color: #070707;
}
.Blok__Blok_ostalo {
	color: #070707;
}
.Etimologija__etimologija_nu {
	vertical-align: super;
	display: none 
}
.Lemma__cestotnost {
	display: none 
}
.Definicija__tekst {
   display: none
}
.Definicije {
	display: none 
}
.Lemma__Incomplete {
}
.Drugi_jezici {
	font-family: sans-serif;
	display: none 
}
.Drugi_jezik {
	font-family: sans-serif;
}
.Drugi_jezik__jezici {
	color: #000000;
}
.Drugi_jezik__ime {
	font-style: italic;
	color: #000000;
}
.Drugi_jezik__jezik {
	color: #000000;
}
.Datumi {
	font-family: sans-serif;
	color: #000000;
	display: none 
}
.Datumi__Blagd_imen {
	font-weight: bold;
	color: #000000;
}
.Definicija__podrijetlo_1 {
   display: none
}
.Definicija__podrijetlo_2 {
   display: none
}
.Definicija__podrijetlo_3 {
   display: none
}
.Etimologija__tekst {
   display: none
}
.Definicija__vrelo {
}
.ref_Etimologija {
   display: none
}
.Lemma {
	font-family: sans-serif;
	background-color: #FFFFFF;
	color: #000000;
}
.Lemma__LemmaSign {
	font-weight: bold;
	color: #386bff;
}
.Lemma__HomonymNumber {
	font-weight: bold;
	vertical-align: super;
	color: #386bff;
	font-size: 8px;
}
.Lemma__Frequency {
}
.Lemma__Modified {
	color: #888888;
}
.Lemma__Created {
	font-style: italic;
	color: #888888;
}
.Sense {
	color: #062A06;
}
.References {
	font-family: sans-serif;
	font-style: italic;
	color: #0000A0;
}
.Primjer {
}
.Primjer__Primjer {
	color: #6B7E01;
}
.Primjer__obrazac {
}
.Definicija {
	font-family: sans-serif;
	color: #000000;
}
.Definicija__definicija {
	font-style: normal;
	color: #000000;
}
.Sense__SenseNumber {
	font-weight: bold;
}
.Language__SearchScript {
}
.Language__ClickScript {
}
.ref_Etimologija__tekst_prije {
   display: none
}
.ref_Etimologija__tekst_nakon {
   display: none
}
.Definicija__broj {
	font-weight: bold;
}
.Lemma__manje_od_100 {
}
.Prevođenje_ref {
}
.Prevođenje_ref__tekst {
}
.Lemma__dativ {
	display: none 
}
.swal2-content .Lemma__dativ {
	display: inline-block 
}
.Lemma__zagrada {
	display: none 
}
.swal2-content .Lemma__zagrada {
	display: inline-block 
}
.swal2-content a{
   text-decoration:none
}
body {
	background: rgba(179,220,237,0.58);
	background: -moz-linear-gradient(left, rgba(179,220,237,0.58) 0%, rgba(255,255,255,0.58) 50%, rgba(179,220,237,0.58) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,0.58)), color-stop(50%, rgba(255,255,255,0.58)), color-stop(100%, rgba(179,220,237,0.58)));
	background: -webkit-linear-gradient(left, rgba(179,220,237,0.58) 0%, rgba(255,255,255,0.58) 50%, rgba(179,220,237,0.58) 100%);
	background: -o-linear-gradient(left, rgba(179,220,237,0.58) 0%, rgba(255,255,255,0.58) 50%, rgba(179,220,237,0.58) 100%);
	background: -ms-linear-gradient(left, rgba(179,220,237,0.58) 0%, rgba(255,255,255,0.58) 50%, rgba(179,220,237,0.58) 100%);
	background: linear-gradient(to right, rgba(179,220,237,0.58) 0%, rgba(255,255,255,0.58) 50%, rgba(179,220,237,0.58) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#b3dced', GradientType=1 );
	font-family: sans-serif;
	margin: 0;
}
.donji-izbornik {
	color: white;
	list-style: none;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 0;
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
	list-style-type: disc;
}
.donji-izbornik a {
	color: white;
	text-decoration: none;
}
.References {
	cursor: pointer 
}
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: url('ajax-loader.gif');
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center;
	overflow:hidden;
}
.preloader2 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: url('ajax-loader.gif');
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, 0.5);
	background-position: center;
	overflow:hidden;
}
.link {
	margin: 8px;
	background-color: #FFFFFF;
	display: inline-block;
	padding: 10px;
	text-align: center;
	border: 1px solid #386bff;
	border-radius: 5px;
	cursor: pointer;
	line-height: 1px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	z-index: 2;
}
.slovo {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: space-evenly;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 15px;
	margin-left: 15px;
}
.logo{
   margin:auto;
   display:block;
   max-width:400px;
   height:auto;
	cursor: pointer
}
a {
	color: #386bff;
	font-family: sans-serif 
}
.swal2-modal .swal2-styled {
	background-color: #386bff!important;
	border-left-color: #386bff!important;
	border-right-color: #386bff!important;
}
.container-sl {
	position: relative;
	text-align: center;
	color: white;
}
.modal {
	display: none;
   /* Hidden by default */
	position: fixed;
   /* Stay in place */
	z-index: 4;
   /* Sit on top */
	padding-top: 50px;
   /* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
   /* Full width */
	height: 100%;
   /* Full height */
	overflow: auto;
   /* Enable scroll if needed */
	background-color: rgb(0,0,0);
   /* Fallback color */
	background-color: rgba(0,0,0,0.4);
   /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 700px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
	border-radius: 5px;
}
/* Add Animation */
@-webkit-keyframes animatetop {
	from {
	   top:-300px;
		opacity:0
   }
	to {
	   top:0;
		opacity:1
   }
}
@keyframes animatetop {
	from {
	   top:-300px;
		opacity:0
   }
	to {
	   top:0;
		opacity:1
   }
}
/* The Close Button */
.close2 {
	font-size: 22px;
	line-height: 36px;
	position: absolute;
	top: 5px;
	right: 13px;
	cursor: pointer;
	color:#ccc;
	-webkit-transition: color .1s ease;
	transition: color .1s ease;
}
.close2:hover, .close2:focus {
	color: #d55;
	text-decoration: none;
	cursor: pointer;
}
.modal-header h2{
	color:#595959;
	font-size: 30px;
	font-weight: 600;
	text-transform: none;
	margin: 0;
	padding: 0;
	line-height: 60px;
	display: block;
	font-family: Open Sans, sans-serif;
	text-align: center;
}
.modal-body {
   padding: 2px 16px;
}
.centered-sl {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #386bff;
	font-size: 1.5rem;
	text-shadow: 0px 0px #FF0000;
	font-family: sans-serif;
	cursor: pointer;
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top-color: currentcolor;
	border-top-style: none;
	border-top-width: 0px;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(56, 107, 255, 0), rgba(56, 107, 255, 0.75), rgba(56, 107, 255, 0));
}
footer {
	background-color: #2d4790;
	padding: 2%;
	margin-top: 2%;
}
.citat {
	text-align: center!important;
	cursor: pointer;
	width: 100% 
}
.inactive {
	display: none;
}
.active {
	display: block;
}
[id^="linija"] {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: visible;
	width: 100%;
}
[id^="linija"]::after {
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: #F9FEFF;
	text-align: center;
}
.crunchify-top:hover {
	color: #fff !important;
	background-color: #386bff;
	text-decoration: none;
}
.crunchify-top {
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 3.2rem;
	height: 3.2rem;
	line-height: 3rem;
	font-size: 1.4rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	border-radius: 3.2rem;
	text-align: center;
	cursor: pointer;
	z-index: 5;
}
.tooltip {
	position: relative;
	display: inline-block;
   /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
   /* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
   /* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}
.referenceseparator {
	padding-right: 2px 
}
/* Tooltip arrow */
.Etimologija__etimologija_nu {
	font-size: 10px 
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.Dopisivanje {
	display: none 
}
.swal2-spacer {
	background-image: initial 
}
#resetiraj{
   text-align: center;
   font-weight: 600;
   cursor: pointer;
	display: none;
}
/* Show the tooltip text when you mouse over the tooltip container */
#linija-a::after {
	content: "A";
}
#linija-b::after {
	content: "B";
}
#linija-b::after {
	content: "B";
}
#linija-c::after {
	content: "C";
}
#linija-cc::after {
	content: "Č";
}
#linija-ccc::after {
	content: "Ć";
}
#linija-d::after {
	content: "D";
}
#linija-dd::after {
	content: "Đ";
}
#linija-dz::after {
	content: "Dž";
}
#linija-e::after {
	content: "E";
}
#linija-f::after {
	content: "F";
}
#linija-g::after {
	content: "G";
}
#linija-h::after {
	content: "H";
}
#linija-i::after {
	content: "I";
}
#linija-j::after {
	content: "J";
}
#linija-k::after {
	content: "K";
}
#linija-l::after {
	content: "L";
}
#linija-lj::after {
	content: "Lj";
}
#linija-m::after {
	content: "M";
}
#linija-n::after {
	content: "N";
}
#linija-o::after {
	content: "O";
}
#linija-p::after {
	content: "P";
}
#linija-r::after {
	content: "R";
}
#linija-s::after {
	content: "S";
}
#linija-ss::after {
	content: "Š";
}
#linija-t::after {
	content: "T";
}
#linija-u::after {
	content: "U";
}
#linija-v::after {
	content: "V";
}
#linija-z::after {
	content: "Z";
}
#linija-zz::after {
	content: "Ž";
}
.swal2-show .Lemma__genitiv, .swal2-show .Lemma__definicija, .swal2-show .Lemma__broj_nositelja, .swal2-show .Blok, .swal2-show .Lemma__nositelj_koment, .swal2-show .Lemma__nositelj_ica, .swal2-show .Etimologije, .swal2-show .Lemma__neskl_genitiv, .swal2-show .Lemma__cestotnost, .swal2-show .Definicije, .swal2-show .Drugi_jezici, .swal2-show .Lemma__jez_odre, .swal2-show .Datumi, .swal2-show .Definicija__definicija, .swal2-show .References, .swal2-show .Definicija, .swal2-show .Definicija__podrijetlo_2, .swal2-show .Definicija__podrijetlo_1, .swal2-show .Definicija__podrijetlo_3, .swal2-show .Etimologija__etimologija, .swal2-show .Etimologija__vrelo, .swal2-show .Etimologija__opaska, .swal2-show .ref_Etimologija__tekst_prije, .swal2-show .ref_Etimologija__tekst_nakon, .swal2-show .Etimologija__tekst, .swal2-show .Etimologija, .swal2-show .Etimologija__etimologija_nu, .swal2-show .ref_Etimologija, .swal2-show .Definicija__tekst {
	display: initial 
}
.glossary__search__form div {
	max-width: 800px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: auto;
}
#broj_prikaza{
   text-align: center;
   margin-bottom: 0;
}
#glossarySearchInput, .gumb {
	margin: 10px;
	height: 34px;
	line-height: 1;
}
.gumb {
	cursor: pointer;
	border: solid 1px #0000ff2b;
	border-radius: 5px;
	background-image: url(''), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.form-control {
	box-shadow: none;
	padding: 13px 10px;
	padding-left: 10px;
	height: 50px;
	background: #FFF;
	background-color: rgb(255, 255, 255);
	background-image: none;
	color: #3a404d;
	border-radius: 5px;
	border-color: #DFE2E8;
	transition: border-color 0.5s ease-out;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-top-color: rgb(204, 204, 204);
	border-right-color: rgb(204, 204, 204);
	border-bottom-color: rgb(204, 204, 204);
	border-left-color: rgb(204, 204, 204);
	border-top-color: rgb(204, 204, 204);
	border-right-color: rgb(204, 204, 204);
	border-bottom-color: rgb(204, 204, 204);
	border-left-color: rgb(204, 204, 204);
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.ui-menu {
	width: 195px !important;
	padding-left: initial !important;
	background: white;
	z-index: 100;
}
.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
}
.ui-menu .ui-menu-item {
	margin: 0;
	cursor: pointer;
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-item-wrapper {
	position: relative;
	padding: 3px 1em 3px .4em;
}
.ui-helper-hidden-accessible {
	display: none 
}
.Lemma__manje_od_100 {
	display: none 
}
section {
	height: 100vh;
	margin: 10px;
	background: #d8d8d8;
}
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s;
	transition-delay: 1s;
	z-index: 2;
	visibility: hidden;
}
#overlay.nav-is-active {
	background: rgba(40, 44, 53, 0.8);
	pointer-events: all;
	transition-delay: 0.45s;
	visibility: visible;
}
nav {
	font-weight: 500;
	padding: 1.4em;
	position: fixed;
	top: 0;
	left: 0;
	transform: translate(25px, 25px);
	z-index: 4;
	overflow: hidden;
}
.hamburger {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: rgba(0, 0, 0, 0);
	border-radius: 50px;
	transition: 0.3s;
	transition-delay: 0.6s;
	z-index: 3;
}
strong {
	font-weight: 600!important 
}
.burger-bar {
	width: 20px;
	height: 2px;
	background: #333;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
}
.burger-bar:before, .burger-bar:after {
	content: '';
	width: 20px;
	height: 2.5px;
	background: #333;
	position: absolute;
	transition: 0.3s;
}
.burger-bar::before {
	top: -9px;
}
.burger-bar::after {
	top: 9px;
}
.hamburger.active {
	border-radius: 5px;
	transition: 0.3s;
}
.hamburger.active .burger-bar {
	background: rgba(0, 0, 0, 0);
}
.hamburger.active .burger-bar::before {
	top: 0;
	transform: rotate(-45deg);
}
.hamburger.active .burger-bar::after {
	top: 0;
	transform: rotate(45deg);
}
.navigation-list {
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
	list-style: none;
	text-align: center;
	font-size: 20px;
	background: #FFF;
	margin: 0;
}
.navigation-list.active {
	padding-left: 0;
	animation-name: openNav;
	animation-duration: 0.9s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	transition: 0.3s;
	transition-delay: 0.45s;
}
.close-nav {
	animation-name: closeNav;
	animation-duration: 0.9s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}
.navigation-list ul {
	margin-top: 20px;
	list-style-type: none;
	padding: 0;
}
.navigation-list li:not(:first-child) {
	padding-top: 1.6em;
}
.nav-links {
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
	transition-delay: 0;
}
.nav-links.active {
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
	transition-delay: 0.7s;
}
.navigation-list a {
	color: #333;
	text-decoration: none;
	transition: color 0.2s;
}
.navigation-list a:hover {
	color: #386bff;
}
#social-links {
	visibility: hidden;
	opacity: 0;
	transition: 0.2s;
	transition-delay: 0;
	font-size: 1.8em;
	padding-top: 2em;
}
#social-links.active {
	visibility: visible;
	opacity: 1;
	transition: 0.3s;
	transition-delay: 0.7s;
}
.fab {
	padding: 0 8px;
}
.swal2-content p {
	text-align: justify 
}
/* SECTIONS */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
}
/* COLUMN SETUP */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}
/* GROUPING */
.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1;
   /* For IE 6/7 */
}
/* GRID OF THREE */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.13%;
}
/* GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
   }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 {
		width: 100%;
   }
}
@keyframes closeNav {
	0% {
		width: 300px;
		height: 450px;
		border-radius: 5px;
   }
	25% {
		width: 300px;
		height: 450px;
		border-radius: 5px;
   }
	50% {
		width: 300px;
		height: 450px;
		border-radius: 5px;
   }
	75% {
		width: 40px;
		height: 40px;
		border-radius: 5px;
   }
	100% {
		width: 40px;
		height: 40px;
		border-radius: 50px;
   }
}
@keyframes openNav {
	0% {
		width: 40px;
		height: 40px;
   }
	25% {
		width: 40px;
		height: 40px;
		border-radius: 5px;
   }
	50% {
		width: 40px;
		height: 40px;
		border-radius: 5px;
   }
	75% {
		width: 300px;
		height: 450px;
		border-radius: 5px;
   }
	100% {
		width: 300px;
		height: 450px;
		border-radius: 5px;
   }
}
/* Large phones */
/* Medium phones */
@media only screen and (max-width: 600px) {
	.centered-sl {
		font-size: 1rem 
   }
	.gumb {
		padding: 10px;
		height: initial;
   }
}
#oba td{
	text-align: center 
}
#oba td:first-child{
   border-right: 1px solid black
}
.gumb {
	padding: 10px;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
/* COLUMN SETUP */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}
/* GROUPING */
.group:before, .group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
	zoom:1;
   /* For IE 6/7 */
}
.swal2-content div {
	display: inline-block 
}
/* GRID OF TWO */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}
.Definicija span {
	display:inline-block;
}
.filtri {
	display: none 
}
#podrijetlo {
	display:none 
}
.select-css {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: button;
	-webkit-appearance: button;
	appearance: button;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
	text-indent: 0px;
	text-overflow: '';
}
.tg{border-collapse:collapse;border-spacing:0; width:50%; margin:auto; font-size: 18px;}
.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.select-css option {
	font-weight:normal;
}
.swal2-modal .swal2-content{
   font-family: sans-serif;
}
/* GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 800px) {
	.swal2-modal h2{
	   line-height:inherit
   }
	select{
	   width:80px
   }
	.donji-izbornik {
		columns: 2;
		-webkit-columns: 2;
		-moz-columns: 2;
   }
	.modal-content {
	   width: 80%;
   }
	.modal-header h2{
	   padding-top: 30px;
   }

   .tg{font-size: 16px;}

   .crunchify-top{
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2rem
   }

   nav{transform: translate(15px, 15px);}

}
@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
   }
	.logo{
	   max-width: 80%;
   }
	nav{
	   display:none
   }
}
@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 {
		width: 100%;
   }
   .modal-header h2{font-size: 18px;

	line-height: 1.5;}

}
