.Indent{margin-left:5pt;text-indent:-5pt;}
.Sense__refleksivnost{font-size:11pt;color:#000000;}
.Napomene{font-size:11pt;}
.Napomene__stara_napomena{font-size:11pt;color:#2D506A;}
.Lemma__ModifiedBy{font-size:9pt;}
.Lemma__CreatedBy{font-size:9pt;font-style:italic;}
.Dopisivanje{}
.Dopisivanje__Autor{font-size:10pt;}
.Dopisivanje__Poruka{font-size:10pt;color:#FF0000;}
.Sense__lemma{font-size:12pt;font-weight:bold;color:#000070;}
.Napomena{font-family:"Times New Roman";font-size:12pt;color:#2D506A;}
.Napomena__napomena{}
.Napomena__primjer{}
.Lemma__jez_odre{}
.Lemma__genitiv{font-family:"00 ZRCola";}
.Lemma__definicija{}
.Lemma__broj_nositelja{}
.Etimologija{color:#000000;}
.Pok_izv_imena{font-family:"Times New Roman";font-size:11pt;}
.Blok{font-size:12pt;}
.Etimologija__etimologija{font-family:"00 ZRCola";}
.Lemma__drugi_jezici{font-family:"00 ZRCola";font-size:11pt;color:#001F3E;}
.Blok__Blok_prostiranje{font-size:12pt;color:#070707;}
.Lemma__definicija_2{}
.Blok__Blok_motivacija_širenje{font-size:12pt;color:#000000;}
.Blok__Blok_o_imenu{font-size:12pt;color:#070707;}
.Blagdan_imendan{font-family:"Times New Roman";font-size:11pt;color:#000000;}
.Blagdan_imendan__dan{color:#000000;}
.Blagdan_imendan__mjesec{color:#000000;}
.Lemma__nositelj_koment{}
.Lemma__nositelj_ica{}
.Etimologija__vrelo{}
.Etimologija__opaska{font-family:"00 ZRCola";}
.Etimologije{color:#000000;}
.Lemma__neskl_genitiv{font-family:"00 ZRCola";}
.Lemma__definicija_vrelo{}
.Blok__vrelo{}
.Blagdan_imendan__napomena{color:#000000;}
.Blok__Blok_prevodenje{font-size:12pt;color:#070707;}
.Blok__Blok_ostalo{font-size:12pt;color:#070707;}
.Etimologija__etimologija_nu{vertical-align:super;}
.Lemma__cestotnost{}
.Definicija__tekst{}
.Definicije{}
.Lemma__Incomplete{}
.Drugi_jezici{font-family:"00 ZRCola";font-size:11pt;}
.Drugi_jezik{font-family:"Times New Roman";font-size:11pt;}
.Drugi_jezik__jezici{font-size:11pt;color:#000000;}
.Drugi_jezik__ime{font-size:11pt;font-style:italic;color:#000000;}
.Drugi_jezik__jezik{font-size:11pt;color:#000000;}
.Datumi{font-family:"Times New Roman";font-size:12pt;color:#000000;}
.Datumi__Blagd_imen{font-size:11pt;font-weight:bold;color:#000000;}
.Definicija__podrijetlo_1{}
.Definicija__podrijetlo_2{}
.Definicija__podrijetlo_3{}
.Etimologija__tekst{}
.Definicija__vrelo{}
.ref_Etimologija{}
.Lemma{font-family:"00 ZRCola";font-size:12pt;background-color:#FFFFFF;color:#000000;}
.Lemma__LemmaSign{font-size:13pt;font-weight:bold;color:#000070;}
.Lemma__HomonymNumber{font-size:8pt;font-weight:bold;vertical-align:super;color:#000070;}
.Lemma__Frequency{}
.Lemma__Modified{font-size:9pt;color:#888888;}
.Lemma__Created{font-size:9pt;font-style:italic;color:#888888;}
.Sense{font-size:11pt;color:#062A06;}
.References{font-family:"Times New Roman";font-size:12pt;font-style:italic;color:#0000A0;}
.Primjer{font-family:Arial;font-size:12pt;}
.Primjer__Primjer{color:#6B7E01;}
.Primjer__obrazac{}
.Definicija{font-family:"00 ZRCola";font-size:12pt;color:#000000;}
.Definicija__definicija{font-style:normal;color:#000000;}
.Sense__SenseNumber{font-weight:bold;}
.Language__SearchScript{}
.Language__ClickScript{}
.ref_Etimologija__tekst_prije{}
.ref_Etimologija__tekst_nakon{}
.Definicija__broj{font-weight:bold;}
.Lemma__manje_od_100{}
.Prevođenje_ref{}
.Prevođenje_ref__tekst{}
.Lemma__dativ{}
.Lemma__zagrada{}